@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-BlackObl.eot");
    src: url("/fonts/HurmeGeometricSans1-BlackObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-BlackObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-BlackObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-BlackObl.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-Black.eot");
    src: url("/fonts/HurmeGeometricSans1-Black.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-Black.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-Black.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-BoldObl.eot");
    src: url("/fonts/HurmeGeometricSans1-BoldObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-BoldObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-BoldObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-BoldObl.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-Bold.eot");
    src: url("/fonts/HurmeGeometricSans1-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-Bold.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-Bold.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-Hairline.eot");
    src: url("/fonts/HurmeGeometricSans1-Hairline.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-Hairline.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-Hairline.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-Hairline.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-HairlineObl.eot");
    src: url("/fonts/HurmeGeometricSans1-HairlineObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-HairlineObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-HairlineObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-HairlineObl.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-LightObl.eot");
    src: url("/fonts/HurmeGeometricSans1-LightObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-LightObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-LightObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-LightObl.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-Light.eot");
    src: url("/fonts/HurmeGeometricSans1-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-Light.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-Light.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-RegularObl.eot");
    src: url("/fonts/HurmeGeometricSans1-RegularObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-RegularObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-RegularObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-RegularObl.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-Thin.eot");
    src: url("/fonts/HurmeGeometricSans1-Thin.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-Thin.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-Thin.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-ThinObl.eot");
    src: url("/fonts/HurmeGeometricSans1-ThinObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-ThinObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-ThinObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-ThinObl.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-SemiBold.eot");
    src: url("/fonts/HurmeGeometricSans1-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-SemiBold.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-SemiBold.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-Regular.eot");
    src: url("/fonts/HurmeGeometricSans1-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-Regular.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-Regular.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("/fonts/HurmeGeometricSans1-SemiBoldObl.eot");
    src: url("/fonts/HurmeGeometricSans1-SemiBoldObl.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HurmeGeometricSans1-SemiBoldObl.woff2") format("woff2"),
      url("/fonts/HurmeGeometricSans1-SemiBoldObl.woff") format("woff"),
      url("/fonts/HurmeGeometricSans1-SemiBoldObl.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/Canelatext-primary-black.eot");
    src: url("/fonts/Canelatext-primary-black.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Canelatext-primary-black.woff2") format("woff2"),
      url("/fonts/Canelatext-primary-black.woff") format("woff"),
      url("/fonts/Canelatext-primary-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-BoldItalic.eot");
    src: url("/fonts/CanelaText-BoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-BoldItalic.woff2") format("woff2"),
      url("/fonts/CanelaText-BoldItalic.woff") format("woff"),
      url("/fonts/CanelaText-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/Canelatext-primary-blackItalic.eot");
    src: url("/fonts/Canelatext-primary-blackItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Canelatext-primary-blackItalic.woff2") format("woff2"),
      url("/fonts/Canelatext-primary-blackItalic.woff") format("woff"),
      url("/fonts/Canelatext-primary-blackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-Light.eot");
    src: url("/fonts/CanelaText-Light.eot?#iefix") format("embedded-opentype"),
      url("/fonts/CanelaText-Light.woff2") format("woff2"),
      url("/fonts/CanelaText-Light.woff") format("woff"),
      url("/fonts/CanelaText-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-Bold.eot");
    src: url("/fonts/CanelaText-Bold.eot?#iefix") format("embedded-opentype"),
      url("/fonts/CanelaText-Bold.woff2") format("woff2"),
      url("/fonts/CanelaText-Bold.woff") format("woff"),
      url("/fonts/CanelaText-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-LightItalic.eot");
    src: url("/fonts/CanelaText-LightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-LightItalic.woff2") format("woff2"),
      url("/fonts/CanelaText-LightItalic.woff") format("woff"),
      url("/fonts/CanelaText-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-MediumItalic.eot");
    src: url("/fonts/CanelaText-MediumItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-MediumItalic.woff2") format("woff2"),
      url("/fonts/CanelaText-MediumItalic.woff") format("woff"),
      url("/fonts/CanelaText-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-Medium.eot");
    src: url("/fonts/CanelaText-Medium.eot?#iefix") format("embedded-opentype"),
      url("/fonts/CanelaText-Medium.woff2") format("woff2"),
      url("/fonts/CanelaText-Medium.woff") format("woff"),
      url("/fonts/CanelaText-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-RegularItalic.eot");
    src: url("/fonts/CanelaText-RegularItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-RegularItalic.woff2") format("woff2"),
      url("/fonts/CanelaText-RegularItalic.woff") format("woff"),
      url("/fonts/CanelaText-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-RegularNo2Italic.eot");
    src: url("/fonts/CanelaText-RegularNo2Italic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-RegularNo2Italic.woff2") format("woff2"),
      url("/fonts/CanelaText-RegularNo2Italic.woff") format("woff"),
      url("/fonts/CanelaText-RegularNo2Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-RegularNo2.eot");
    src: url("/fonts/CanelaText-RegularNo2.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-RegularNo2.woff2") format("woff2"),
      url("/fonts/CanelaText-RegularNo2.woff") format("woff"),
      url("/fonts/CanelaText-RegularNo2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-Regular.eot");
    src: url("/fonts/CanelaText-Regular.eot?#iefix") format("embedded-opentype"),
      url("/fonts/CanelaText-Regular.woff2") format("woff2"),
      url("/fonts/CanelaText-Regular.woff") format("woff"),
      url("/fonts/CanelaText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-ThinItalic.eot");
    src: url("/fonts/CanelaText-ThinItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/CanelaText-ThinItalic.woff2") format("woff2"),
      url("/fonts/CanelaText-ThinItalic.woff") format("woff"),
      url("/fonts/CanelaText-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Canela Text";
    src: url("/fonts/CanelaText-Thin.eot");
    src: url("/fonts/CanelaText-Thin.eot?#iefix") format("embedded-opentype"),
      url("/fonts/CanelaText-Thin.woff2") format("woff2"),
      url("/fonts/CanelaText-Thin.woff") format("woff"),
      url("/fonts/CanelaText-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply font-hurmeSans1 bg-primary-background;
  }
  .image-wrapper > span {
    @apply w-full h-full block z-0 !important;
  }

  button:hover {
    @apply opacity-[0.75];
  }
  .titre-section {
    @apply text-primary-black font-canelaText text-xl lg:text-3xl leading-7 lg:leading-[38.16px];
  }
  .titre-section > span {
    @apply text-primary-orange font-hurmeSans1 relative font-medium;
  }
  .titre-section > span::before {
    @apply w-full h-1 rounded bg-primary-orange content-[""] inline-block absolute left-0 -bottom-1;
  }
  .titre-section > span.black {
    @apply text-primary-black;
  }
  .titre-section > span.black::before {
    @apply bg-primary-black;
  }
  .btn {
    @apply rounded-30 font-bold tracking-widest text-white text-10 uppercase px-7 lg:px-10 py-5;
  }
}
*{
    box-sizing: border-box;
}
.slick-dots {
  position: relative !important;
  bottom: initial !important;
  padding: 25px 0 !important;
}

.slick-slide {
    max-width: 433px;
}
.slick-dots li{
    width: 5px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
}
.slick-dots li button:before {
    color: #BFA892 !important;
}